.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-pink-transparent);
    padding: 0.8rem;
    border-radius: 7px;
    box-shadow: var(--shadow);
    height: 3rem;
    width: max-content;
    margin: 3rem auto;
}

.pagination__numbers {
    display: flex;
}

.pagination__numbers-item {
    margin: 0 0.7rem;
    color: var(--color-grey-blue);
    background: rgb(113 86 86 / 37%);
}

.pagination__numbers-item > button {
    padding: unset;
}

.pagination__icon {
    border-radius: 10px;
    border: none;
    font-size: 2.2rem;
    background: var(--color-pink);
    color: white;
    padding: 5px;
    box-shadow: 0 0 1px 0 rgb(174 165 165 / 20%), 0 1px 5px 0 rgb(0 0 0 / 24%), 1px -1px 20px 0 rgb(255 250 243 / 20%);
}