.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
  gap: 2rem;
  justify-items: start;
  transition: 0.3s;
}

@media screen and (max-width: 1224px) {
  .grid {
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  }
}