.select {
    border: none;
    height: 2.5rem;
    font-size: 1.8rem;
    padding: 0 0.4rem 0.5rem 0;
    background: transparent;
    color: white;
}
.select__container {
    background: var(--button-color);
    position: relative;
    padding: 0.3rem;
    z-index: 0;
    border-radius: 1rem;
    box-shadow: var(--shadow);

    margin: 2rem 0;

}

