.icon {
    cursor: pointer;
}

.material-icons.toggle {
    font-size: 4rem;
    background: rgba(0 0 0 / 48%);
    border-radius: 7px;
    color: rgba(255, 255, 255, 0.78);
    padding: 0 0.6rem 0;
    box-shadow: var(--shadow);

}