.ration {
    border: none;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    background: var(--card-color);
    padding: 7px;
}
.ration__progress-bar {
    height: 1rem;
    width: 100%;
    background: gray;
    position: relative;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    margin: 1rem 0;
}
.ration__text {
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}
.ration__progress-bar__progression {
    height: 0.6rem;
    width: 33%;
    background: yellow;
    border-radius: var(--radius);
    position: absolute;
    top: 0.2rem;
    left: 0.15rem;
}