.card {
    border: none;
    min-width: 20rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    background: var(--card-color-light-gray);
    padding: 7px;
}

.card__title {
   font-size: 2rem;
   color: var(--color-pink);
}