button  {
    padding: 0.8rem 1rem;
    cursor: pointer;
    border-radius: var(--radius);
    border: none;
    box-shadow: var(--shadow);
    background: var(--button-color);
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    letter-spacing: 0.2rem;
    transition: 0.3s;
}

button:hover {
   background: var(--button-color);
   box-shadow: unset;
   color: rebeccapurple;
}