.page-limit {
    display: grid;
    grid-template-columns: 7rem 3rem;
    gap: 1rem;
    align-items: center;
    margin-right: 2rem;
}

.material-icons.page-limit__icon  {
    color: white;
    cursor: unset;
}

.page-limit .select__container > select {
    width: 5.5rem;
}