
.movie__category-list {
    display: flex;
    margin: 1.5rem 0.7rem;
    justify-content: flex-end;
    right: 2rem;
    transition: 0.3s;
}

.movie__category-and-toggle {
    display: flex;
    position: relative;
    margin-right: 2rem;
}
.movie__sub_menu {
    display: grid;
    place-items: center;
}

.movie__select__category {
    width: 98%;
    padding-left: 0.5rem;
}

.movie__category-and-toggle > .material-icons {
    color: white;
    align-self: center;
}
.movie__category-filter-icon {
    cursor: unset;
}
.movie__category-and-filter {
    display: flex;
    justify-content: center;
}
.movie__card__icon-remove {
    color: var(--color-pink);
}
.movie__card__bottom {
    text-align: end;
}
.movie__card__like-and-toggle {
    display: flex;
    justify-content: space-between
}
.movie__card__like {
    align-self: center;
}
.movie__card__toggle {
}

.movie__card__like-and-toggle .material-icons.toggle {
    background: var(--color-pink-transparent);
}

@media screen and (max-width: 1224px) {
    .movie__category-list {
        position: unset;
    }
}