:root {
    --background: linear-gradient(to right, rgba(12, 22, 345, 0.6), rgba(44, 44, 56, 0.8));
    --background--pink: linear-gradient(to right, #e91e63, rgba(44, 44, 56, 0.8));
    --card-color: #01010A19;
    --card-color-light-gray: #d0d1dbe8;
    --button-color: rgba(0 0 0 / 37%);
    --color-pink: #aa267b;
    --color-pink-light: #fcbfe7;
    --color-grey-blue: #747485;
    --color-pink-transparent: #42032de6;
    --radius: 7px;
    --shadow: 0 0 1px 0 rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 24%), 1px -1px 20px 0 rgb(33 20 0 / 20%);
    background: var(--background--pink);
    font-family: Lato, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 2.4rem !important;
    margin: 0;
}

.material-icons {
    font-size: 3rem;
    transition: 0.3s;
    color: var(--color-pink);
}

.material-icons:hover {
    color: rebeccapurple;
}
