.nav {
  display: flex;
  justify-content: center;
  padding: 4rem;
  color: white;
  font-size: 4rem;
  letter-spacing: 0.5rem;
}

.nav__chart__icon {
  display: flex;
  align-items: center;
  font-size: 4rem;
}

.nav__chart {
  display: flex;
  align-items: center;
  font-size: 4rem;
}

.nav__chart-icon {
  font-size: 4rem;
  color: white;
}